.hero{
  height: 29rem;
}

.hero{
  animation: ease-in-out 2s forwards fadeIn;
  background-image: url(../assets/hero-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  opacity: 0;
  padding-top: 118px;
}

header{
  position: absolute;
  height: 118px;
  width: 100%;
  z-index: 2;
}

header nav{
  padding-top: 1.25rem;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li{
 list-style: none;
}

header a {
  text-decoration: none;
}

.btn-header{
  padding: 0.75rem 1.25rem;
  background-color: var(--pink-dark);
  border-radius: 0.5rem;
  font: var(--button);
  color: var(--text-title);
  transition: background-color 100ms ease-in-out ;
}

.btn-header:hover{
  background-color: var(--pink-base);
  transition: background-color 100ms ease-in-out ;
}

.hero section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.hero section h1{
  font: var(--title-lg);
  font-size: 1.75rem;
  color: var(--text-title);
  max-width: 20rem;
  margin-top: 3rem;
}

.hero section p{
  font: var(--body-sm);
  color: var(--text-body);
  max-width: 20rem;
  animation: ease-in-out 2s 0.5s forwards fadeIn;
  opacity: 0;

}



@media (width >= 70em){

  .hero{
    height: 59.25rem;
    background-size: contain;
    background-position: top, center;
  }

  header nav{
    padding-top: 3.5rem;
  }
  

  .hero section{
    gap: 2rem;
  }
  
  .hero section h1{
    font: var(--title-lg);
    max-width: 41rem;
    margin-top: 5rem;
  }

  .hero section p{
    font: var(--body-lg);
    max-width: 35.5rem;
  }
  
}


@keyframes fadeIn {
  100%{
    opacity: 1;
  }
}