.kit-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.header-kit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  text-align: center;
}

.header-kit .title{
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.header-kit .title h2{
  font: var(--body-lg);
  line-height: normal;
  font-size: 1.5rem;
  color: var(--texto-body);
}

.header-kit p{
  font: var(--body-md);
  color: var(--texto-body);
}

.header-kit .title img{
  width: 20px;
  filter: drop-shadow(0px 0px 28px #8f3b9e80);
}

.content-kit{
  display: flex;
  flex-direction: column;
  position: relative;
}

.content-kit img{
  width: 100%;
}

.content-kit img:nth-child(1){
  width: 9rem;
  position: relative;
  inset: 0;
  z-index: 10;
}

.content-kit img:nth-child(2){
  width: 3.5rem;
  position: absolute;
  inset: 0;
  z-index: 9;
  margin-left: 50px;
  margin-top: 10px;
  transform: translate(66px, -47px);
  rotate: 14deg;
}

.content-kit img:nth-child(3){
  width: 3.5rem;
  position: absolute;
  inset: 0;
  z-index: 8;
  margin-left: 50px;
  margin-top: 10px;
  transform: translate(100px,-56px);
  rotate: 22deg;
}

.content-kit img:nth-child(4){
  width: 4.5rem;
  position: absolute;
  inset: 0;
  z-index: 9;
  margin-left: 50px;
  margin-top: 10px;
  transform: translate(-112px,122px);
  rotate: -7deg;
}

.content-kit img:nth-child(5){
  width: 3.5rem;
  position: absolute;
  inset: 0;
  z-index: 9;
  margin-left: 15px;
  margin-top: 7px;
  transform: translate(-60px, -14px);
}

.content-kit img:nth-child(6){
  width: 2.20rem;
  position: absolute;
  inset: 0;
  z-index: 9;
  margin-left: 15px;
  margin-top: 7px;
  transform: translate(-75px, 113px);
}

.content-kit img:nth-child(7){
  width: 3rem;
  position: absolute;
  inset: 0;
  z-index: 9;
  margin-left: 15px;
  margin-top: 7px;
  transform: translate(141px, 135px);
}

.content-kit span{
  font: var(--tag);
  font-weight: 400;
  color: var(--texto-body);
  margin-left: 15px;
  margin-top: 7px;
}

.content-kit span:nth-child(8){
  position: absolute;
  z-index: 9;
  transform: translate(-93px, -30px);
}

.content-kit span:nth-child(9){
  position: absolute;
  z-index: 9;
  transform: translate(-96px, 98px);
}

.content-kit span:nth-child(10){
  position: absolute;
  z-index: 9;
  transform: translate(97px, 186px);
}