.kit-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.header-kit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  text-align: center;

}

.header-kit .title{
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.header-kit .title h2{
  font: var(--body-lg);
  line-height: normal;
  font-size: 1.5rem;
  color: var(--texto-body);
}

.header-kit p{
  font: var(--body-sm);
  font-weight: 400;
  color: var(--texto-body);
  margin-top: 0.5rem;
}

.header-kit .title img{
  width: 20px;
  filter: drop-shadow(0px 0px 28px #8f3b9e80);
}

.content-kit{
  display: flex;
  flex-direction: column;
  position: relative;
}

.content-kit img{
  width: 100%;
}

.content-kit img:nth-child(1){
  width: 9rem;
  position: relative;
  inset: 0;
  z-index: 10;
}

.content-kit img:nth-child(2){
  width: 3.5rem;
  position: absolute;
  inset: 0;
  z-index: 9;
  margin-left: 50px;
  margin-top: 10px;

  animation-timeline: view(100% 0%);
  animation-name: img1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  transform: translate(0);
  rotate: 0deg;
}

.content-kit img:nth-child(3){
  width: 3.5rem;
  position: absolute;
  inset: 0;
  z-index: 8;
  margin-left: 50px;
  margin-top: 10px;
  

  animation-timeline: view(100% 0%);
  animation-name: img2;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  transform: translate(0);
  rotate: 0deg;
}

.content-kit img:nth-child(4){
  width: 4.5rem;
  position: absolute;
  inset: 0;
  z-index: 9;
  margin-left: 50px;
  margin-top: 10px;
  
  animation-timeline: view(50% 0%);
  animation-name: img3;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;

  transform: translate(0);
  rotate: 0deg;
}

.content-kit img:nth-child(5){
  width: 3.5rem;
  position: absolute;
  inset: 0;
  z-index: 9;
  margin-left: 15px;
  margin-top: 7px;
  

  animation-timeline: view(20% 0%);
  animation-name: img4;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;

  transform: translate(0);
  rotate: 0deg;
}

.content-kit img:nth-child(6){
  width: 2.20rem;
  position: absolute;
  inset: 0;
  z-index: 9;
  margin-left: 15px;
  margin-top: 7px;
  

  animation-timeline: view(20% 0%);
  animation-name: img5;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;

  transform: translate(0);
  rotate: 0deg;
}

.content-kit img:nth-child(7){
  width: 3rem;
  position: absolute;
  inset: 0;
  z-index: 4;
  margin-left: 15px;
  margin-top: 7px;
  

  animation-timeline: view(35% 0%);
  animation-name: img6;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;

  transform: translate(0);
}

.content-kit span{
  font: var(--tag);
  font-weight: 400;
  color: var(--texto-body);
  margin-left: 15px;
  margin-top: 7px;
}

.content-kit span:nth-child(8){
  position: absolute;
  z-index: 9;
 

  animation-timeline: view(20% 0%);
  animation-name: span1;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;

  transform: translate(0);
}

.content-kit span:nth-child(9){
  position: absolute;
  z-index: 9;
  

  animation-timeline: view(20% 0%);
  animation-name: span2;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;

  transform: translate(0);
}

.content-kit span:nth-child(10){
  position: absolute;
  z-index: 4;
  

  animation-timeline: view(35% 0%);
  animation-name: span3;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;

  transform: translate(0);
}


@keyframes img1 {
  to{
    transform: translate(66px, -47px);
    rotate: 14deg;
  }
}

@keyframes img2 {
  to{
    /* transform: translate(100px,-56px); */
    transform: translate(92px, -35px);
    rotate: 18deg;
  }
}

@keyframes img3 {
  
  to{
    transform: translate(-112px,122px);
    rotate: -7deg;
  }
}

@keyframes img4 {
  
  to{
    transform: translate(-60px, -14px);
  }
}

@keyframes img5 {
  
  to{
    transform: translate(-75px, 113px);
  }
}

@keyframes img6 {
  
  to{
    transform: translate(141px, 135px);
  }
}

@keyframes span1 {
  
  to{
    transform: translate(-93px, -30px);
  }
}

@keyframes span2 {
  
  to{
    transform: translate(-96px, 98px);
  }
}

@keyframes span3 {
  
  to{
    transform: translate(97px, 186px);
  }
}


@media (width >= 70em){
  .header-kit .title h2{
    font: var(--body-lg);
    line-height: normal;
    font-size: 2rem;
    color: var(--texto-title);
  }

  .header-kit p{
    font: var(--body-sm);
    font-weight: 400;
    font-weight: 1rem;
    color: var(--texto-body);
    margin-top: 0.5rem;
  }


  .content-kit img:nth-child(1){
    width: 29rem;
  }
  
  .content-kit img:nth-child(2){
    width: 10rem;
    margin-top: 64px;

    animation-timeline: view(100% 0%);
    animation-name: img1;
    animation-fill-mode: forwards;

    transform: translate(0);
    rotate: 0deg;
    animation-timing-function: ease-in-out;
  }
  
  .content-kit img:nth-child(3){
    width: 10rem;
    margin-top: 64px;
  
    animation-timeline: view(100% 0%);
    animation-name: img2;
    animation-fill-mode: forwards;

    transform: translate(0);
    rotate: 0deg;
    animation-timing-function: ease-in-out;
  }
  
  .content-kit img:nth-child(4){
    width: 13rem;
    margin-left: 140px;

    animation-timeline: view(50% 0%);
    animation-name: img3;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    transform: translate(0px, 10px);
    rotate: 0deg;
  }
  
  .content-kit img:nth-child(5){
    width: 10rem;

    margin-left: 120px;
    margin-top: 50px;
    

    animation-timeline: view(50% 0%);
    animation-name: img4;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    transform: translate(0);
  }
  
  .content-kit img:nth-child(6){
    width: 6.5rem;
    margin-left: 120px;
    

    animation-timeline: view(50% 0%);
    animation-name: img5;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    transform: translate(0px, 19px);
  }
  
  .content-kit img:nth-child(7){
    width: 9rem;
    

    animation-timeline: view(50% 0%);
    animation-name: img6;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    transform: translate(0px, 10px);
  }
  
  .content-kit span{
    font: var(--body-md);
    color: var(--texto-title);
  }
  
  .content-kit span:nth-child(8){
    
    margin-top: 64px;
    margin-left: 148px;

    animation-timeline: view(50% 0%);
    animation-name: span1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    transform: translate(0);
  }
  
  .content-kit span:nth-child(9){
    margin-left: 52px;
    margin-top: 30px;
    

    animation-timeline: view(50% 0%);
    animation-name: span2;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    transform: translate(0);
  }
  
  .content-kit span:nth-child(10){
    

    animation-timeline: view(50% 0%);
    animation-name: span3;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    transform: translate(40px, 10px);
  }

  @keyframes img1 {
    to{
      transform: translate(323px, -200px);
      rotate: 14deg;
    }
  }

  @keyframes img2 {
    to{
      transform: translate(410px, -173px);
      rotate: 25deg;
    }
  }

  @keyframes img3 {
    to{
      transform: translate(-320px, 410px);
      rotate: -7deg;
    }
  }

  @keyframes img4 {
    to{
      transform: translate(-235px, -61px);
    }
  }

  @keyframes img5 {
    to{
      transform: translate(-292px, 366px);
    }
  }

  @keyframes img6 {
    to{
      transform: translate(456px, 474px);
    }
  }

  @keyframes span1 {
    to{
      transform: translate(-338px, -104px);
    }
  }

  @keyframes span2 {
    to{
      transform: translate(-250px, 312px);
    }
  }

  @keyframes span3 {
    to{
      transform: translate(391px, 618px);
    }
  }
}

