.promo-section{
  text-align: center;
  position: relative;

  margin-top: 7.1rem;
}


.promo-section{
  max-width: 20rem;
  margin-top: 20rem;
}

.promo-section span {
  color: var(--text-label);
  font: var(--body-md);
  animation-timeline: view(5%, 10%);
  
  animation-name: changeColorSpan;
  animation-fill-mode: both;
  animation-duration: 1s; 
  animation-timing-function: linear;
}

.promo-section .highlight{
  color: var(--text-label);
  font: var(--body-md);
  animation-timeline: view(10% 20%);
  animation-name: changeColorHighlight;
  animation-fill-mode: both;
  animation-duration: 1s; 
  animation-timing-function: linear;
}


.promo-section div:nth-child(2) img{
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;

  animation-timeline: view(10% 20%);
  animation-name: changeIcons;
  animation-fill-mode: both;
  animation-duration: 1ms; 
  animation-timing-function: linear;
  opacity: 0;
}


.promo-section div:nth-child(2) img:nth-child(1) {
  top: -60px;
  right: 40px;
  rotate: 15deg;
}

.promo-section div:nth-child(2) img:nth-child(2) {
  left: 0px;
  bottom: -40px;
  rotate: -70deg;
}

.promo-section div:nth-child(2) img:nth-child(3) {
  bottom: -38px;
  right: 26px;
  rotate: 15deg;
}



@media (width >= 70em){
  .promo-section{
    max-width: 71rem;
    margin-top: 7rem;
  }

  .promo-section span {
    font: var(--subtitle);
  
  }
  
  .promo-section .highlight{
    font: var(--subtitle);
  }

  .promo-section div:nth-child(2) img{
    width: 5rem;
    height: 5rem;
    position: absolute;
  }

  .promo-section div:nth-child(2) img:nth-child(1) {
    top: -80px;
    left: auto;
    right: auto;
    rotate: 20deg;
  }
  
  .promo-section div:nth-child(2) img:nth-child(2) {
    left: 0px;
    bottom: -86px;
    rotate: 100deg;
  }
  
  .promo-section div:nth-child(2) img:nth-child(3) {
    bottom: -86px;
    right: 26px;
    rotate: -14deg;
  }
  
}


@keyframes changeColorSpan {
  from{
    color: var(--text-label);
  }

  to{
    color: var(--text-body);
  }
}

@keyframes changeColorHighlight {
  from{
    color: var(--text-label);
  }

  to{
    color: var(--blue-light);
  }
}

@keyframes changeIcons {
  0%{
   opacity: 0;
   scale: 1;
  }

  50%{
   opacity: 1;
   scale: 1.2;
  }

  100%{
   opacity: 1;
   scale: 1;
  }
}